.popup__text-button {
  max-width: 109px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .popup__text-button {
    max-width: 74px;
    font-size: 14px;
    line-height: 17px;
  }
}
